---
import { site } from "@/config";
import { u } from "unist-builder";

import {t} from '@/i18n/utils'

const baseURL = import.meta.env.PUBLIC_BASE_URL || "";
const currentYear = new Date().getFullYear();
---

<footer class="footer-container">
  <div class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="footer-widget">
            <h2>{t('footer.abouttheblog')}</h2>
            <p>
              {t('footer.note')}
            </p>
          </div>
        </div>
        <div class="col-3">
          <div class="footer-widget">
            <h2>{t('footer.link')}</h2>
            <ul>
              <li><a href={`${baseURL}/`}>- {t('footer.home')}</a></li>
              <li><a href={`${baseURL}/blog/`}>- {t('footer.blog')}</a></li>
            </ul>
          </div>
        </div>
        <div class="col-3">
          <div class="footer-widget">
            <h2>{t('footer.contact')}</h2>
            <ul>
              <li><a href="mailto:info@example.com">- {t('footer.contactusbyemail')}</a></li>
              <ul class="social-links">
                <li>
                  <a href="https://twitter.com/yourhandle" target="_blank" rel="noopener noreferrer">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0 0 0)">
                      <path d="M17.7512 2.96094H20.818L14.1179 10.6187L22 21.0391H15.8284L10.9946 14.7191L5.4636 21.0391H2.39492L9.56132 12.8483L2 2.96094H8.32824L12.6976 8.73762L17.7512 2.96094ZM16.6748 19.2035H18.3742L7.40492 4.70014H5.58132L16.6748 19.2035Z" fill="#fff"/>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/yourpage" target="_blank" rel="noopener noreferrer">
                    <svg width="24" height="24" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0 0 0)">
                      <path d="M12 2.53906C17.5229 2.53906 22 7.01621 22 12.5391C22 17.5304 18.3431 21.6674 13.5625 22.4176V15.4297H15.8926L16.3359 12.5391L13.5625 12.5387V10.6632C13.5625 10.657 13.5625 10.6509 13.5626 10.6447C13.5626 10.6354 13.5628 10.6262 13.5629 10.6169C13.578 9.84259 13.9742 9.10156 15.1921 9.10156H16.4531V6.64062C16.4531 6.64062 15.3087 6.44492 14.2146 6.44492C11.966 6.44492 10.4842 7.78652 10.4386 10.2193C10.4379 10.2578 10.4375 10.2965 10.4375 10.3355V12.5387H7.89844V15.4293L10.4375 15.4297V22.4172C5.65686 21.667 2 17.5304 2 12.5391C2 7.01621 6.47715 2.53906 12 2.53906Z" fill="#fff"/>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/yourprofile" target="_blank" rel="noopener noreferrer">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0 0 0)">
                      <path d="M19.7065 3H4.34844C3.62264 3 3.04199 3.58065 3.04199 4.30645V19.6935C3.04199 20.3903 3.62264 21 4.34844 21H19.6485C20.3743 21 20.9549 20.4194 20.9549 19.6935V4.27742C21.013 3.58065 20.4323 3 19.7065 3ZM8.35491 18.3H5.71297V9.73548H8.35491V18.3ZM7.01942 8.54516C6.14846 8.54516 5.4807 7.84839 5.4807 7.00645C5.4807 6.16452 6.17749 5.46774 7.01942 5.46774C7.86136 5.46774 8.55813 6.16452 8.55813 7.00645C8.55813 7.84839 7.91942 8.54516 7.01942 8.54516ZM18.371 18.3H15.7291V14.1484C15.7291 13.1613 15.7001 11.8548 14.3356 11.8548C12.942 11.8548 12.7388 12.9581 12.7388 14.0613V18.3H10.0968V9.73548H12.6807V10.9258H12.7097C13.0872 10.229 13.9291 9.53226 15.2356 9.53226C17.9356 9.53226 18.4291 11.2742 18.4291 13.6548V18.3H18.371Z" fill="#fff"/>
                    </svg>
                  </a>
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-copyright">
    <p>&copy; {currentYear} {site.title}</p>
  </div>
</footer>

<script src={`${baseURL}/quickframe.js`} defer></script>
<script src={`${baseURL}/util.js`} defer></script>
